img {
  width: 200px;
}

body {
  text-align: center;
  font-family: "Verdana";
  background-image: url(http://bsnscb.com/data/out/119/39048154-low-poly-wallpapers.png);
  /*background-position: center;*/
}

h1 {
  color: rgb(255, 0, 0,);
}
